<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/css/twemoji-awesome.css">
  <link rel="icon" href="/assets/favicon.png">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  <header>
    <img src="/assets/favicon.png" alt="Icon" style="width:60px;border-radius:50%;margin-right:0.2in">
    <div class="blog-name"><a href="">{{fill website_title}} <i class="twa twa-cat-face"></i></a></div>
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/blog/"><i class="twa twa-memo"></i></a></li>
        <li><a href="/pages/artes/"><i class="twa twa-artist-palette"></i></a></li>
        <li><a href="https://www.goodreads.com/user/show/84346581-lucas" target="_blank"><i class="twa twa-books"></i></a></li>
        <li><a href="https://www.flickr.com/photos/lucasmagia/" target="_blank"><i class="twa twa-camera"></i></a></li>
        <li><a href="/pages/coisas/">coisas</a></li>
        <li><a href="/sobre/">sobre.</a></li>

      </ul>
      <img src="/assets/hamburger.svg" id="menu-icon">
    </nav>
  </header>

<!-- Content appended here -->
